/*Inserir Fonte Local*/
@font-face {
    font-family: "ReadHat";
    src: url(../fonte/RedHatText-Regular.ttf);
  
}

@font-face {
    font-family: "Limelight";    
    src: url(../fonte/Limelight-Regular.ttf);
}

body {
    font-family: 'ReadHat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #943ade;
    font-weight: normal;
}

.service-item img {
    width: 290px;
    height: 100px;
}

/*********************************************/
/*------------- Seção Menu / Header ---------*/
/*********************************************/

header {
    background-color: #030a09;
    position: fixed;
    top: 0;
    /* Posiciona a section no topo */
    left: 0;
    /* Posiciona a section à esquerda */
    width: 100%;
    /* Faz a section ocupar toda a largura da tela */
    z-index: 1000;
}

header .container {
    width: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#logo {
    height: 80px;
    width: 80px;
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 50px;
}

#navbarNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20pt;
    font-weight: normal;
}

main{
    min-width: 100vh;
}


/*********************************************/
/*------------- Seção Banner ----------------*/
/*********************************************/

.banner {
    margin: 0px;
    background: url('../imagem/testeescuro4.jpeg') no-repeat center center/cover;
    color: black;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    align-content: center;
    background-size: cover;
}

.banner h1 {
    font-family: 'Limelight', sans-serif;
    color: #ffffff;
}

.banner h3 {
    color: #ffffff;
}

/*********************************************/
/*------------- Seção Serviços --------------*/
/*********************************************/
.services {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url('../imagem/fundoserviescuro.jpeg') no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 100px 0;
    margin-top: 10px;
    background-color: white;
    border: none;
    width: 100%;
    min-height: 100vh;
    background-size: 110%;
    align-content: center;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens se ajustem à largura disponível */
    gap: 20px;
    /* Espaçamento entre as colunas */
    justify-content: space-between;
    /* Garante que os itens fiquem distribuídos de forma equitativa */
    align-items: center;
    align-content: center;
}

.services .service-item {
    flex: 1 1 30%;
    /* Cada item ocupará no máximo 30% da largura disponível */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    /* Fundo branco com 20% de opacidade */
    color: #e0e7f2;
    border-radius: 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.services .service-item:hover {
    transform: translateY(-10px);
    /* Eleva o card em 10px ao passar o mouse */
    box-shadow: 0 10px 15px rgba(148, 58, 222);
    /* Aumenta a sombra para dar a impressão de flutuação */
}

.services img {
    width: 100%;
    /* Ajusta a largura para 100% do contêiner */
    height: 200px;
    /* Define uma altura fixa para as imagens */
    object-fit: cover;
    /* Garante que as imagens mantenham a proporção e cubram o espaço, sem distorcer */
    max-width: 100%;
    /* Garante que as imagens não ultrapassem o limite da div */
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
}

.services h2 {
    text-align: center;
    color: white;
}

.services .tipoServico {
    color: #000000;
    font-size: large;
    font-weight: normal;
}

/*********************************************/
/*------------- Seção Video Projeto----------*/
/*********************************************/

.container-video-apresenta {
    background-color: rgb(0, 0, 0);
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.container-video-apresenta h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.apresenta {
    float: center;
    background-image: url(../imagem/tela-video-transp.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 740px;
    height: 435px;
    padding: 10px;
    justify-self: center;
}


.container-video-apresenta h4 {
    color: white;
    text-align: center;
}

#meuVideo {
    justify-content: center;
    width: 850px;
    height:380px;
    margin-top: 19px;
    margin-left: -48px;
    z-index: 1000;
}


/*********************************************/
/*------------- Seção Contato ---------------*/
/*********************************************/
.contato {
    width: 100%;
    min-height: 100vh;
    /* Ocupa toda a altura da tela */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Ajuste da imagem */


section.contato .txt-contato {
    margin-top: -20px;
    width: 50%;
}

section.contato .txt-contato p {
    text-align: justify;
    font-weight: normal;
}

section.contato .txt-contato .somosaralky p {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

section.contato .txt-contato .somosaralky p span {
    font-size: 35px;
    display: block;
}

/* Estilizando o texto */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


h5 {
    color: #fff;
    text-align: center;
    width: 100px;
    padding: 10px;
}

.equipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
}

.equipe img {
    border-radius: 50%;
}

.equipe img:hover {
    box-shadow: 0px 0px 30px #943ade;
    transform: scale(1.1);
    border-radius: 50%;
    transition: 0.2s;
}

/* Botões de redes sociais */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contato .btn-social i {
    color: white;
}

.btn-social button {
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #943ade;
    font-size: 25px;
    text-align: center;
    margin: 0px 10px;
}

.btn-social button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0px 0px 20px #55148a;
    cursor: pointer;
}

/*********************************************/
/*------------- Seção Rodapé ----------------*/
/*********************************************/
footer {
    display: flex;
    background-color: #030a09;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.rodape {
    justify-items: center;
}

.txt_logo {
    width: 300px;
}

.logo_ralky {
    width: 90px;
    height: 90px;
}

#texto{
    color: #ffffff;
}

.rodape .txt_logo p{
    color: #ffffff;
}

/* Tamanhos responsivos */

.btn-social button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 10px 5px;
}

@media (min-width: 375px) {
    .btn-social button {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}

@media (min-width: 425px) {
    .btn-social button {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .btn-social button {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .btn-social button {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
}

/*****************************/
/* Seção de Responsividades */
/****************************/

@media (min-width: 10px) and (max-width: 320px) {

    /*Seção Banner*/
    .banner {
        background-size: cover;
    }

    .banner h1 {
        margin: 0px 0px;
        font-size: 25px;
    }

    /*Seção Serviços*/
    .services {
        background-size: cover;
        display: flex;
        /* margin: 5px 5px; */
        /* padding: 0px 0px; */
    }

    section.services .container h2 {
        margin-top: 15px;
        width: 100%;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }


    .service-item {
        flex: 0 0 80% !important;
        max-width: 70% !important;
        padding: 5px;
        box-sizing: border-box;
    }

    .imagem {
        width: 95% !important;
        height: 90% !important;
        max-height: 100px !important;
    }

    .services .tipoServico {
        font-size: 15px !important;
        padding: 5px;
    }

    /* Remove margens e padding conflitantes */
    .services .container {
        padding: 0 5px !important;
        margin: 0 !important;
    }

    /* Garante que as linhas não tenham espaçamento extra */
    .row {
        margin: 0px !important;
        padding: 5px;
    }

    /*Seção Contato*/

    section.contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 1.2em;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 1.2em;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 15px;
    }

    /* Seção Rodapé */

    .rodape {
        width: 100%;
    }

    .rodape P {
        font-size: 13px;
    }

    .logo_ralky {
        width: 50px;
        height: 50px;
    }

}

@media (min-width: 321px) and (max-width: 375px) {

    /*Seção Banner*/
    .banner {
        background-size: cover;
    }

    .banner h1 {
        margin: 0px 0px;
        font-size: 25px;
    }

    /*Seção Serviços*/
    .services {
        background-size: cover;
        display: flex;
        padding: 10px 10px;
        /* margin: 5px 5px; */
    }

    .services .container h2 {
        width: 100%;
        margin-top: 15px;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .service-item {
        flex: 0 0 90% !important;
        max-width: 70% !important;
        padding: 5px;
        box-sizing: border-box;
    }

    /*Seção Contato*/
    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 15px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 15px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 15px;
    }

    /*Seção Rodape*/

    .rodape {
        width: 100%;
    }

    .rodape P {
        font-size: 13px;
        color: black;
    }

    .logo_ralky {
        width: 70px;
        height: 70px;
    }

}

@media (min-width: 376px) and (max-width: 425px) {

    /*Seção Banner*/
    .banner {
        background-size: cover;
    }

    .banner h1 {
        margin: 0px 0px;
        font-size: 30px;
    }

    /*Seção Serviços*/
    .services {
        background-size: cover;
        display: flex;
        padding: 10px 10px;
        /* margin: 5px 5px; */
    }

    .services .container h2 {
        width: 100%;
        margin-top: 15px;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .service-item {
        flex: 0 0 80% !important;
        max-width: 70% !important;
        padding: 5px;
        box-sizing: border-box;
    }

    /*Seção Contato*/
    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 15px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 15px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 15px;
    }

    /*Seção Rodape*/
    footer {
        margin: 0px 0px;
        /* margin: 5px; */
    }

    .rodape {
        width: 100%;
    }

    .rodape p {
        font-size: 18px;
        color: black;
    }

    .logo_ralky {
        width: 90px;
        height: 90px;
    }

}

@media (min-width: 426px) and (max-width: 768px) {

    /*Seção Banner*/
    .banner {
        background-size: cover;
    }

    .banner h1 {
        margin: 0px 0px;
        font-size: 50px;
    }

    /*Seção Serviços*/
    .services {
        background-size: cover;
        display: flex;
        padding: 10px 10px;
        /* margin: 5px 5px; */
    }

    .services .container h2 {
        width: 100%;
        margin-top: 15px;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .service-item {
        flex: 0 0 70% !important;
        max-width: 60% !important;
        padding: 5px;
        box-sizing: border-box;
    }

    /*Seção Contato*/
    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 15px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 15px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 15px;
    }

    /*Seção Rodape*/

    footer {
        margin: 0px 0px;
        /* margin: 5px; */
    }

    .rodape {
        width: 100%;
    }

    .rodape p {
        font-size: 15px;
        color: #000;
    }

    .logo_ralky {
        width: 90px;
        height: 90px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    /*Seção Banner*/
    .banner {
        background-size: cover;
    }

    .banner h1 {
        margin: 0px 0px;
        font-size: 35px;
    }

    /*Seção Serviços*/
    .services {
        background-size: cover;
        display: flex;
        padding: 10px 10px;
        /* margin: 5px 5px; */
        width: 100%;
    }

    .services .container {
        width: 100%;
    }

    .services .container h2 {
        width: 100%;
        margin-top: 15px;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

    }

    .service-item {
        flex: 0 0 33, 33% !important;
        max-width: 80% !important;
        padding: 5px;
        box-sizing: border-box;
        margin: 0px 5px;
    }

    /*Seção Contato*/
    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 25px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 25px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 20px;
    }

    /*Seçção Rodape*/
    footer {
        margin: 0px 0px;
        /* margin: 5px; */
    }

    .rodape {
        width: 100%;
    }

    .rodape p {
        font-size: 15px;
        color: #000;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {

    .logo {
        /* margin-left: -50px; */
        height: 40px;
        width: auto;
    }

    /*Seção Serviços*/
    .services {
        margin: 0px 0px;
        /* margin: 5px; */
        background-size: cover;
    }

    .services .container {
        flex-direction: column;
        max-width: 100%;
    }

    .row .service-item {
        margin: 10px 10px;
    }

    /*Seção Contato*/
    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 25px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 25px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 20px;
    }

    /*Seçção Rodape*/
    footer {
        margin: 0px 0px;
        /* margin: 5px; */
    }

    .rodape {
        width: 100%;
    }

    .rodape p {
        font-size: 15px;
        color: #000;
    }
}

@media (min-width: 1441px) and (max-width: 2560px) {


    .logo {
        /* margin-left: -50px; */
        height: 40px;
        width: auto;
    }


    /*Seção Banner*/
    .banner {
        margin: 0px 0px;
        padding: 0px 0px;
        /* margin: 5px; */
        /* border: solid white; */
    }

    .banner h1 {
        font-size: 90px;

    }

    .banner p {
        font-size: 70px;
    }

    /*Seção Serviços*/
    .services {
        margin: 0px 0px;
        padding: 0px 0px;
        display: flex;
        background-size: cover;
        display: flex;
        /* padding: 10px 10px; */
        /* margin: 5pc 5px; */
        width: 100%;
        justify-content: center;
        /* border: solid white; */

    }

    .services .container {
        margin: 0px 0px;
        padding: 0px 0px;
        display: flex;
        max-width: 95%;
        justify-content: center;

    }

    .services .container h2 {
        margin: 0px 0px;
        padding: 0px 0px;
        width: 100%;
        margin-top: 5px;
        font-size: 90px;
    }

    .services .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }

    .service-item {
        flex: 0 0 30% !important;
        max-width: 30% !important;
        padding: 15px;
        box-sizing: border-box;
    }

    .imagem {
        width: 100% !important;
        height: 100% !important;
        max-height: 80% !important;
    }

    .services .tesoura {
        font-size: 35px !important;
        padding: 5px;
    }

    /*Seção Contato*/

    .contato {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .somosaralky p {
        font-size: 25px;
        line-height: 1.3;
        text-align: justify;
    }

    .somosaralky p span {
        font-size: 25px;
    }

    .txtApres {
        text-align: justify;
        width: 90%;
        font-size: 25px;
    }

    /*Seção Rodape*/

    footer {
        margin: 0px 0px;
        /* margin: 5px; */
    }

    .rodape{
        width: 100%;
    }

    .rodape p {
        font-size: 25px;
        color: #000;
    }

    .logo_ralky {
        width: 90px;
        height: 90px;
    }

}